<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">Anamitra Sikdar</a></h1>
      <p class="lead">PMRF Research Fellow at Experimental Rock Deformation Lab, IIT Kanpur, India.</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ispage index.html}}active{{end}}" href="/">Home</a>
      <a class="sidebar-nav-item {{ispage menu1/*}}active{{end}}" href="/assets/cv.pdf">CV</a>
      <a class="sidebar-nav-item {{ispage menu2/*}}active{{end}}" href="/ongoing_research/">Ongoing Research</a>
      <a class="sidebar-nav-item {{ispage menu3/*}}active{{end}}" href="/research_interests/">Research Interests</a>
      <a class="sidebar-nav-item {{ispage menu4/*}}active{{end}}" href="https://home.iitk.ac.in/~smisra/">Exp. Rock Def. Lab.</a>
	  <a class="sidebar-nav-item {{ispage menu5/*}}active{{end}}" href="/tags/">Tags</a>
    </nav>
    <p>&copy; {{fill author}}.</p>
  </div>
</div>
<div class="content container">
