<link rel="stylesheet" href="/css/franklin.css">
<link rel="stylesheet" href="/css/poole_hyde.css">
<!-- style adjustments -->
<style>
  html {font-size: 20px;}
  .franklin-content {position: relative; padding-left: 5%; padding-right: 5%; line-height: 2em;}
  @media (min-width: 940px) {
    .franklin-content {width: 100%; margin-left: auto; margin-right: auto;}
  }
 <!-- @media (max-width: 3000px) {
    .franklin-content {padding-left: 6%; padding-right: 6%;}
  }-->
</style>
<link rel="icon" href="/assets/self.jpg">
 